<%- include('header-html') %>

<div class="slider_container slider_1">
    <div class="slider">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
</div>

<%- include('footer-html') %>