<%- include('header-html') %>

<div class="slider_container slider_1">
    <div class="slider">
        <img
        class="image_slider"
        srcset="
        images/slider_image_1_450.png 450w,
        images/slider_image_1_750.png 750w,
        images/slider_image_1_976.png 976w
        "
        sizes="
        (max-width: 500px) 450px,
        (max-width: 800px) 750px,
        900px
        "
        src="images/slider_image_1_976.png"
        alt=""
        >
        <img
        class="image_slider"
        srcset="
        images/slider_image_2_450.png 450w,
        images/slider_image_2_750.png 750w,
        images/slider_image_2_976.png 976w
        "
        sizes="
        (max-width: 500px) 450px,
        (max-width: 800px) 750px,
        900px
        "
        src="images/slider_image_2_976.png"
        alt=""
        >
        <img
        class="image_slider"
        srcset="
        images/slider_image_3_450.png 450w,
        images/slider_image_3_750.png 750w,
        images/slider_image_3_976.png 976w
        "
        sizes="
        (max-width: 500px) 450px,
        (max-width: 800px) 750px,
        900px
        "
        src="images/slider_image_3_976.png"
        alt=""
        >
        <img
        class="image_slider"
        srcset="
        images/slider_image_4_450.png 450w,
        images/slider_image_4_750.png 750w,
        images/slider_image_4_976.png 976w
        "
        sizes="
        (max-width: 500px) 450px,
        (max-width: 800px) 750px,
        900px
        "
        src="images/slider_image_4_976.png"
        alt=""
        >
        <img
        class="image_slider"
        srcset="
        images/slider_image_1_450.png 450w,
        images/slider_image_1_750.png 750w,
        images/slider_image_1_976.png 976w
        "
        sizes="
        (max-width: 500px) 450px,
        (max-width: 800px) 750px,
        900px
        "
        src="images/slider_image_1_976.png"
        alt=""
        >
    </div>
</div>

<%- include('footer-html') %>