<h2>Administration</h2>

<div id="adminContainer" class="admin_container">
    <select name="select_input_admin" id="select-input-admin" class="select_admin_list" onchange=></select>
</div>

<script>


</script>