<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header_container">
        <div class="banner">
            <img class="logo" src="/images/logo.png" alt="">
        </div>
        <nav id="nav">
            <div class="burger_menu">
                <div class="burger_button">
                    <div class="burger_bar"></div>
                    <div class="burger_bar"></div>
                    <div class="burger_bar"></div>
                </div>
            </div>
            <ul class="nav_links">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">La Boutique</a></li>
                <li><a href="/inscription">Inscription</a></li>
                <li><a href="#">Mon Panier</a></li>
            </ul>
            <ul class="login_container">
                <li><a href="/login">Se Connecter</a></li>
            </ul>
        </nav>
    </header>

    <main class="main_container">

    

