<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header_container">
        <div class="banner">
            <img class="logo" src="/images/logo.png" alt="">
        </div>
        <nav id="nav">
            <div class="burger_menu">
                <div class="burger_button">
                    <div class="burger_bar"></div>
                    <div class="burger_bar"></div>
                    <div class="burger_bar"></div>
                </div>
            </div>
            <ul class="nav_links">
                <li><a href="/">accueil</a></li>
                <li><a href="#">la boutique</a></li>
                <li><a href="/inscription">inscription</a></li>
                <li><a href="#">Mon Panier</a></li>
            </ul>
            <ul class="login_container">
                <li><a href="/my-account/<%= userID %>"><img src="/svg/user_account.svg" alt="" class="nav_icons"></a></li>
                <% if(!isLogged) {%>
                    <li><a href="/login"><img src="/svg/login.svg" alt="" class="nav_icons"></a></li>
                <%}%>
                <% if(isLogged) { %>
                    <li><a href="/logout"><img src="/svg/logout.svg" alt="" class=""></a></li>
                <%}%>
            </ul>
        </nav>
    </header>

    <main class="main_container">

    

