<%- include('header-html') %>

<form action="/login" method="post">
    <label for="email">email</label>
    <input type="email" id="email" name="email">

    <label for="password">mot de passe</label>
    <input type="password" id="password" name="password">

    <button type="submit">Connexion</button>
</form>

<a href="#">mot de passe oublié ?</a>

<%- include('footer-html') %>