<%- include('header-html') %>

<h2>connexion</h2>

<section class="section_login_user">
    <form action="/login" method="post" class="form_login">
        <label for="email">email</label>
        <input type="email" id="email" name="email" required  aria-label="veuillez saisir votre adresse email">
    
        <label for="password">mot de passe</label>
        <input type="password" id="password" name="password" required  aria-label="veuillez saisir votre mot de passe">

        <% if(locals.errorMessage) { %>
                <span class="error_login_message"><%= errorMessage %> </span>
        <%}%>

        <button type="submit">Connexion</button>
        
        <a href="#">mot de passe oublié ?</a>
    </form>

</section>


<%- include('footer-html') %>