*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html {
    font-size: 62.5%;
}



/* HEADER */
.header_container {
    display: flex;
    flex-direction: column;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    border-left: 2px solid #2D232E;
    border-right: 2px solid #2D232E;
    border-bottom: 2px solid #2D232E;
}
.logo {
    width: 150px;
}

/* NAVBAR */
#nav {
    position: relative;
    display: flex;
    height: 45px;
    margin: 5px;

    border: 2px solid #2D232E;
    background-color: #8688AC;
}
#nav.active .nav_links {
    left: 0;
}
.burger_menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.burger_button {
    padding: 2px;
}
.burger_bar {
    height: 3px;
    margin: 6px;
    width: 35px;
    border-radius: 9px;
    background-color: #2D232E;
}
ul {
    list-style: none;
}
.nav_links {
    position: absolute;
    left: -100%;
    top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    
    transition: 0.2s ease-in-out;
}
.nav_links, a {
    text-decoration: none;
    font-size: 2rem;

    color: #EEE5E9;
}
.login_container {
    display: flex;
    justify-content: space-evenly;

    width: 200px;

    border-left: 1px solid #2D232E;
}


@media screen and (min-width : 720px) {
    body {
        max-width: 980px;
        margin: 0 auto;
    }

    /* NAVBAR */
    .burger_menu {
        display: none;
    }
    .nav_links {
        position: unset;
        width : 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    .nav_links> li {
        display: block;
    }
}